<%- include('header') %>
  <h2 class="description">
      Editar Categorias:
      <a href='/admin/categorias'>Categorias</a>
  </h2>

  <form method='post'>
    <label>Categoria</label>
    <input type='text' name='categoria' value='<%= categoria.categoria %>'/>

    <button>Salvar categoria</button>
  </form>
<%- include('footer') %>
