<%- include('header') %>
    <h2 class='description'>
      Editar vaga:
      <a href='/admin/vagas'>Vagas</a>
    </h2>
    <div>
      <form method="post">
        <div>
          <label>Titulo</label>
          <input type="text" name="titulo" value="<%= vaga.titulo %>"/>
        </div>

        <div>
          <label>Descrição</label>
          <textarea name="descricao">
            <%= vaga.descricao %>
          </textarea>
        </div>

        <div>
          <label>Categoria</label>
          <select name="categoria">
            <% categorias.forEach(categoria => { %>
              <option value="<%- categoria.id %>"
                <% if(categoria.id === vaga.categoria) { %> selected <% } %>>
                <%= categoria.categoria %>
              </option>
            <% }) %>
          </select>
        </div>

        <button>Salvar vaga</button>
      </form>
    </div>
<%- include('footer') %>
