<%- include('header') %>
    <h2 class="description">
      Vagas:
      <a href="/admin/vaga/nova">Nova vaga</a>
    </h2>
    <div>
      <ul>
        <% vagas.forEach(vaga => { %>
          <li>
            <%- vaga.titulo %> |
            <a href="/admin/vagas/delete/<%- vaga.id %>">Excluir</a>
            <a href="/admin/vagas/editar/<%- vaga.id %>">Editar</a>
          </li>
        <% }) %>
      </ul>
    </div>
<%- include('footer') %>
