<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Jobify</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <h1 class="title">
      <a href="/"><img class="logo" src="/images/logo.png" alt="Jobify - by Lean"/></a>
    </h1>
    <p class="welcome">We are Jobify - Join us!</p>
